#header-nav {
    background-color: white;
    padding: 0;

    border-radius: 6px;
    z-index: 10000;
    padding-right: 5px;
}

header {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
}


.help {
    display: block;
    height: 50px;
    padding-right: 3px;
    padding-bottom: 10px; 
    background-color: #fff;
    border: none;
}

.tropical-logo {
    height: 50px;

}


.offcanvas {
    background-color: orange;
    color: blue;
    width: 250px !important;
}

#languageButton {
    border: none;
    margin-top: 9px;
    background-color: #fff;
}

#phoneNav{
    padding-right: 1px;
    border: none;
        background-color: #fff;
}

.col-4{
    padding-right: 13px!important; 
}

 .hamburger-menu {
     display: inline-block;
     cursor: pointer;
     padding: 6px;
     background-color: #333;
     border-radius: 5px;
     margin-top: 1.5px;
     margin-left: 5px;
 }

 .bar {
     display: block;
     width: 20px;
     height: 4px;
     margin: 3px 0;
     background-color: white;
     transition: all 0.3s;
     border: none;
 }

 #languageButton{
    margin-right: 5px;
 }

 .nav-link{
    color: #00205B;
 }

 .btn-lang{
    color: #00205B;
 }